# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.log

# Environment variables
.env

# Test and coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.pytest_cache/
.tox/
junit.xml

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Build
build/
dist/
*.egg-info/
.eggs/

# Other
*.sqlite3
*.db